<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O-Block</title>
    <link href="{{ url_for('static', filename='css/styleone.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>O-BLOCK</h1>
        <div class="search-container">
            <form action="/get_wallet_data" method="POST">
                <input type="text" name="wallet_address" class="search-input" placeholder="Enter wallet address">
                <button type="submit" class="search-button">SEARCH</button>
            </form>
        </div>
    </div>
</body>
</html>
